@media only screen and (min-width:1860px){
 #body{
  position: relative;
  /* left: 4vw; */
  justify-content: center;
 }

}

.homeLink{
  color: #000;
  align-items: center;
  margin-right: 3vw;
  margin-left: -13vw;
  align-content: center;
}
.homeLink:hover{
  transition: color 0.3s ease-in-out;
  color: palevioletred;
}
#current_link{
  color :palevioletred;
}

#asideNav{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2.5em;
}
#navId_searchIcon{
  position: absolute;
  right: 3vw;
  padding-bottom: 0.6em;
  background: none;
  font-size: 1.3em;
}
#navId_searchIconClicked{
  color: #fff;
  position: absolute;
  right: 4vw;
  top: -0.25em;
  /* width: 2em; */
  /* padding-bottom: 0.6em; */
  
  background: palevioletred;
  font-size: 1.3em;
}
#navId_searchIconClicked:hover{
  transition:  scale 1.1s ease-in;
  scale: 1.1;
}
#navSearch{
  border-radius: 5px;
  right: 7vw;
  color: #000;
  top: -0.3em;
  height: 1.9em;
  padding-left: 0.2em;
  padding-right: 3em;
  width: 22vw;
  position: absolute;
}
#navSearch:focus{
  outline: none;
}
#navId_searchIcon:hover{
  border: none;
}
#navId_cart{
  background-color: #fff;
  height: 2em;
  padding-top: 0.45em;
  top: -0.6em;
  right: -2vw;
  position: absolute;
  padding-left: 0.45em;
  place-self: center;
  border-radius: 50%;
  width: 2em;
  box-shadow: 0 0 0.5em rgb(171, 171, 171);

}
#toggle_btn{
  visibility: hidden;
}
#logo{
  width: 15em;
  object-fit: contain;
}
#header{
  padding: 0 10vw 5vh 10vw;
  position: relative;
  background: linear-gradient(to bottom right, rgb(240, 222, 186), burlywood);
  margin-top: -2vh;
  /* width: 100vw; */
}
#navHeader{
  position: relative;
}
.nav{
  margin-top: -2vh;
  font-size: 1.3em;
}
#hero{
  margin-left: -20vw;
  /* top: ; */
  color: #000;
  position: relative;
  z-index: 1;
  /* margin-top: 10vh; */
}
#main{
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
  line-height: 1em;
  text-transform: capitalize;
}
#mainIndent{
  /* margin-left: 16vw; */
  left: 3.5em;
  z-index: 13;
  position: relative;
  /* text-indent: 10vw; */
}
#floats{
  display: flex;
}
#float1{
  width: 12.5em;
  /* float: left; */
  position: relative;
  margin-top: -3em;
  z-index: -1.5;
  background-color: #fff;
  height: 12.5em;
}
#float2{
  width: 20.5em;
  right: 0em;
  /* float: right; */
  background-color: #fff;
  height: 15.5em;
  top: 8em;
  position: absolute;
}
#float2::before{
  content: "";
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0.5em;
  left: -0.5em;
  z-index: -1;
  box-sizing: content-box;
}
#float1::before{
  content: "";
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0.5em;
  left: -0.5em;
  z-index: -3;
  box-sizing: content-box;
}
#content{
  margin: 0 1.5em 0 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 1.5em;
  color: rgb(49, 48, 48);
}
#pic1, #pic2{
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100%;
}
#pic1{
  width: 100%;
  /* width: 80%; */
  height: 100%;
  z-index: -0.5;
}
#pic2{
  height: 180%;
  bottom: 0%;
}
#contentBtn{
  background-color: palevioletred;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #fff;
  border-radius: 0;
  margin-top: 2em;
  transition: scale 1.1s ease-in-out;
}
#contentBtn:hover{
 scale: 1.1;
 border: none;
 color: #fff;
}
#contentBtnLink{
  display: flex;
}
#contentBtnLink:hover{
  color: #fff;
}
#heroLatest{
  font-family: cursive;
  margin-bottom: 1.5em;
  font-weight: lighter;
  text-decoration: underline;
}
#nextFlex{
  display: flex;
}
.imgHeroContainer{
  height: 7em;
  width: 7em;
}
#secA, #secB, #secC{
  display: flex;
}
.receivedMsg{
  margin-top: 2em;
}
.heroPic{
  object-fit: contain;
}
.secInner{
  margin:0 1em 0 1em;
  display: flex;
  flex-direction: column;
}
#heroArrow2, #heroArrow1{
  border: 1px solid;
  height: 0.7em;
  font-size: 2em;
  margin-top: 0.3em;
  text-align: center;
  position: relative;
  width: 2em;
}
#heroArrow{
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: -0.5em;
  margin-left: 0.4em;
}
#heroArrow1{
  color: red;
}
#heroArrow2{
  color: rgb(84, 83, 83);
}
.productHeroname{
  font-size: 1.3em;
  font-family: cursive;
}
.heroWewill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(49, 48, 48);
  width: 13em;
}
#next{
  margin-top: 3em;
  /* padding-bottom: 3em; */
}
#heroLine{
  color: grey;
  font-size: 6em;
  position: relative;
  margin-top: -0.4em;
  margin-right: 0.4em;
  opacity: 0.2;
}
#heroGet{
  font-family: cursive;
  font-size: 2em;
  margin-bottom: 0.3em;
  font-weight: lighter;
}
#heroEmail{
  height: 2.4em;
  margin-top: 2em;
  width: 17vw;
  /* position: relative; */
  border-top: 2px solid palevioletred;
  border-left: 2px solid palevioletred;
  border-bottom: 2px solid palevioletred;
  background: transparent;
  padding-left: 1em;
}
#heroEmail::placeholder{
  color: rgb(49, 48, 48);
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#heroEmail:focus{
  outline: none;
  border-bottom: 2px solid palevioletred;
}
#heroArrow3{
  background-color: palevioletred;
  font-size: 2em;
  position: absolute;
  height: 1.2em;
  margin-top: 1em;
  border-radius: 0;
  width: 2em;
  transition: scale 1s ease;
}
#heroArrow3:hover{
  border: none;
  scale: 1.1;
}
#heroArr{
  position: relative;
  margin-bottom: -6em;
  margin-left: -0.5em;
  margin-top: -0.8em;
  color: #fff;
}
#heroReceived{
  color: rgb(49, 48, 48);
  width: 20em;
  position: absolute;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#section1{
  width: 100vw;
  /* margin-left: 10vw; */
  position: relative;
  background-color: blue;
  /* overflow-x: hidden; */
}
#section1Main{
  /* padding: 0 10vw 0 10vw;  */
  padding-left: 30vw;
  position: absolute;
  z-index: 2 ;
  display: flex;
  flex-direction: column;
  padding-top: 13vh;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
  line-height: 1em;
}
#section1Main3{
  text-indent: 1.2em;
}
#section1ImgContainer1{
  width: 20em;
  height: 20em;
  /* background-color: blue; */
}
#section1ImgContainer2{
  height: 13em; 
  width: 13em;
   /* background-color: green; */
   position: absolute;
   top: 11em;
   right: 10vw;
}
#section1Floats{
  display: flex; 
  padding-top: 10vh;
  padding-left: 10vw;
  position: relative;
  /* right: 10vw; */
  /* margin-right: 10vw; */
}
#section1WeWill{
  width: 25vw;
  margin-top: 12.5em;
  margin-left: 1.9em;
  margin-bottom: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
#section1ContentBtn{
 color: palevioletred;
 height: 2em;
 width: 9em;
 padding: 0.2em 0 0.2em 1em;
 border-radius: 0;
 border-top: 1px solid palevioletred;
 border-left: 1px solid palevioletred;
 border-bottom: 1px solid palevioletred;
 margin-left: 1.9em;
 transition: scale 1.1s ease-in-out;
}
#section1ContentBtnLink{
  position: relative;
  display: flex;
}
#section1ContentBtn:hover{
  scale: 1.1;
}

#section2i{
  padding: 4em 10vw 4em 10vw;
  margin-top: 5em;
  position: relative;
  background-color: rgb(240, 222, 186);
}
#section2Main{
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
  line-height: 1em;
  color: #000;
  text-transform: capitalize;
}
#section2Flex1{
  display: flex;
}
#section2WeWill{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
#section2ContentBtn{
  position: absolute;
  transition: scale 1.1s ease-in-out;
  right: 10vw;
  border: 1px solid palevioletred;
  border-radius: 0;
  padding: 0.5em 2.5em 0.5em 0.5em;
  top: 6.5em;
  color: palevioletred;
}
.section2ContentBtnLink{
  display: flex;
  position: relative;
}
.section2ImgCont{
  width: 15em;
  height: 12em;
}
#section2Flex2{
  display: flex;
  gap: 3.5vw;
  margin-top: 2em;
  flex-direction: row;
}
#section2ImgCover{
  display: flex;
  gap: 1em;
  background-color: #fff;
  width: 32em;
  height: 17em;
  padding: 1em 1em 1em 1em;
}
.section2ImgTextFlex1{
  display: flex;
  position: relative;
  flex-direction: row;
  /* gap: 3em; */
}
#section2ImgTextProductPrice{
  font-size: 1em;
  font-weight: bolder;
  font-family: fantasy;
}
#section2ImgText{
  width: 14em;
  position: relative;
  /* background-color: aqua; */
}
/* #section2Imgcover{
  position: absolute;
  right: 10vw;
} */
#section2ImgTextTitle{
  font-family: cursive;
}
#section2ImgTextweWill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
#section2ImgTextRatingsNumber{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
#section2ImgTextRatingsCover{
  top: 1em;
  position: relative;
}
#section2ImgTextRatingsCoverStarsCover{
  color: gold;
  display: flex;
}
#section2ImgTextFlex2{
  /* padding-top: 3em; */
  position: absolute;
  bottom: 0;
}
#section2ContentBtn2{
  background-color: palevioletred;
  color: #fff;
  height: 2.5em;
  padding-left: 1em;
  border-radius: 0;
  width: 10em;
  transition: scale 1.1s ease-in-out;
}
#section2ContentBtn3{
  transition: scale 1.1s ease-in-out;
  position: absolute;
  margin-left: 1.3em;
  /* right: 0; */
  border: 2px solid palevioletred;
  border-radius: 0;
  color: palevioletred;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.section2ProductTitle{
  font-family: cursive;
  position: relative;
  top: 3.7em;
}
.section2BtnClass:hover{
  scale: 1.1;
}

#section3i{
  position: relative;
  margin: 4em 10vw 4em 10vw;
}
#section3Main{
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
}
#section3MainRed{
  color: palevioletred;
}
#section3Flex1{
  display: flex;
  position: relative;
}
#section3WeWill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  width: 35em;
  color: rgb(118, 117, 117);
}
#section3ContentBtn1{

  background-color: palevioletred;
  color: #fff;
  height: 2.5em;
  position: absolute;
  padding-right: 3em;
  right: 0;
  border-radius: 0;
  width: 13em;
  transition: scale 1.1s ease-in-out;
}
#section3ContentBtn1:hover{
  scale: 1.1;
}
.section3ServiceTitle{
  font-family: cursive;
}
.section3Img{
  /* object-fit: scale-down; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#section3ServiceImg{
  width: 14em;
  height: 11em;
  /* overflow-y: hidden; */
  margin-top: 1em;
}
#section3Flex2{
  display: flex;
  top:2em;
  position: relative;
  gap: 3.5em;
}
#section3Cont4{
  position: absolute;
  right: 0;
}
#section3ServiceWeWill{
  width: 14em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
.section3Flex3{
  display: flex;
  width: 14.5em;
  position: relative;
}
#section3ServicePrice{
  font-family: cursive;
  margin-top: 0.7em;
}
#section3ServiceRed{
  color: palevioletred;
}
#section3Arrow{
  font-size: 2.7em;
  /* width: 2em; */
  position: absolute;
  right: 0;
}

#section4{
  position: relative;
  background: url("./Images/pic1-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 8em;
  display: flex;
}


#section4MainText{
  display: flex;
  flex-direction: column;
  color: #000;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
}
#section4MainTextPart2{
  position: relative;
  top: -0.5em;
}
.section4Red{
  color: palevioletred
}
#section4SubText{
  display: flex;
  font-family: cursive;
  color: #000;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  flex-direction: column;
}
#section4WeWill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  position: relative;
  width: 20em;
  /* right: 10em; */
  color: rgb(118, 117, 117);
}
#section4ContentBtn{

  background-color: palevioletred;
    color: #fff;
    position: relative;
    height: 2.5em;
    margin-top: 1em;
    padding-right: 3em;
    border-radius: 0;
    width: 9em;
    transition: scale 1.1s ease-in-out;
}
#section4ContentBtn:hover{
  scale: 1.1;
}
#section4Part2{
  position: absolute;
  padding: 0 0 0 2.5em;
  width: 20em;
  right: 0;
}
.section4Arrows{
  width: 6em;
}
#section4ArrowUp{
  top: -15em;
  left: 16em;
  position: relative;
  transform: rotateZ(215deg) scaleX(-1) skewX(30deg);
}
#section4ArrowDown{
  position: relative;
  top: 14em;
  left: -4em;
  transform: rotateZ(-40deg) skewX(30deg);
}
#section4ImgCont{
  background-color: aqua;
  position: relative;
  height: 9em;
  width: 17.5em;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}
#section4Img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#section4BlogTiitle{
  font-family: cursive;
  color: #000;
  text-decoration: underline;
}
#section4Part2SubText{
  display: flex;
  flex-direction: column;
}
#section4Part2SubTextPart1, #section4Part2SubTextPart2{
  font-size: 1.2em;
  font-family: cursive;
  color: #000;
}
#section4Part2SubTextPart3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  position: relative;
  width: 20em;
  /* right: 10em; */
  color: rgb(118, 117, 117);
}
#section5{
  position: relative;
  top: 10em;
  display: flex;
}
#section5Part1{
  background: linear-gradient(to right, rgb(94, 94, 94), rgb(202, 198, 198));
  width: 35em;
  margin-right: 2em;
  height: 22em;
}
#section5Part2{
  position: absolute;
  right: 10vw;
}
#section5Pic1{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
#section5Main{
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 4em;
  display: flex;
  line-height: 1em;
  flex-direction: column;
  color: #000;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#section5Test{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 30em;
  color: rgb(67, 66, 66);
  margin-bottom: 1em;
}
#section5Flex1{
  display: flex;
  position: relative;
}
#section5ImgCont{
  width: 5em;
  height: 5em;
  margin-right: 1em;
}
#section5Flex2{
  -ms-wrap-flow: ;
  position: relative;
  top: 1em;
}
#section5Name{
  font-family: cursive;
  font-size: 1.2em;
  color: black;
}
#section5Address{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
#footer{
  position: relative;
  top: 14em;
  padding: 2em 10vw 0 10vw;
  /* padding-top: 2em; */
  background-color: rgb(240, 222, 186);
}
#footerFlex{
  display: flex;
  gap: 15em;
}
#footerFlex1{
  display: flex;
  font-family: cursive;
  color: #000;
  flex-direction: column;
}
#footerFlex1i{
  display: flex;
  position: relative;
  top: -3.5em;
  flex-direction: column;
}
.footerLi{
  list-style-type: none;
}
#footerLogo{
  position: relative;
  top: -2em;
  height: 8em;
  width: 10em;
}
#footerPic{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footerMain{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: rgb(118, 117, 117);
}
#footerUl{
  display: flex;
  flex-direction: column;

}
#footerFlex2{
  /* position: relative; */
  /* left: 5em; */
}
.footerLink:hover{
  color: palevioletred;
}
#footerFlex4{
  position: absolute;
  right: 10vw;
}
#copyRight{
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  bottom: 2em;

  margin-top: 4em;
}
#footerIcons{
  display: flex;
  position: absolute;
  right: 0;
  gap: 1em;
  color: rgb(118, 117, 117);

}
@media only screen and (max-width:1180px) {
  #mainIndent{
    margin-left: 18.5vw;
  }
  #header{
    padding: 0 4vw 5vh 4vw;
  }
  #section1ImgContainer2{
    right: 4vw;
  }
  #section1Floats{
    right: 6vw;
  }
  #section2i{
    padding: 4em 4vw 4em 4vw;

  }
  #section2ImgCont{
    width: 14vw;
  }
  #section3i{
    margin: 4em 4vw 4em 4vw;
  }
}

@media only screen and (max-width:1069px) {
  .nav{
    display: none;
    visibility: hidden;
  }
  #toggle_btn{
    visibility: visible;
  }
  #float2{
    position: relative;
    top: 0;
  }
}



